<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: "jpeg", fallback:"no_image.png", size:"100x100" %> <br>

		<table class="table">
			<tr>
				<th>name</th>
				<th><%= current_user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= current_user.introduction %></th>
			</tr>
		</table>
		  	<%= link_to edit_user_path(current_user) do %>
		  		<button type="button" class="btn btn-default btn-block">
		  			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		  		</button>
		  	<% end %>

		<%= form_for(@book) do |f| %>

		<h2>New book</h2>
			<div class="field form-group">
				<%= f.label :title %><br>
				<%= f.text_field :title, class:"form-control" %>
			</div>
			<div class="field form-group">
				<%= f.label :Opinion %><br>
				<%= f.text_area :body, class:"form-control" %>
			</div>
			<div class="actions">
				<%= f.submit(class: 'btn btn-primary btn-block') %>
			</div>
		<% end %>

	</div>
	<div class="col-xs-9">

		<h1>Users</h1>

		<table class="table">
			<thead>
			    <tr>
			    	<th>image</th>
		    		<th>name</th>
		    		<th></th>
				</tr>
		  	</thead>

		  	<tbody>
				<% @users.each do |user| %>
			  		<tr>
			  			<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: "jpeg", fallback:"no_image.png", size:"40x40"%></td>
			  			<td><%= user.name %></td>
			  			<td><%= link_to "Show", user %></td>
			  		</tr>
			 	<% end %>
			</tbody>
		</table>
	</div>
</div>